*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #223344;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #99c1f1;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.container{
  padding: 30px;
  display: flex;

}
.Homesection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  height: 100%;
  margin-top: 80px;
}

.Homesection h1{
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
}

.imgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  height: 80%;
}
.imgdiv img{
  width:200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  margin: 40px;
}
.about_content{
  text-align: center;
  padding-top: 20px;
}
.about_content h2{
  padding-bottom: 30px;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #99c1f1;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .Homesection{
    flex-direction: column;
    
  }
}
